<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preload" as="image" th:href="@{images/tacos.jpg}">
    <title>Taco Cloud</title>
</head>
<body>
    <form th:action="@{/orders}" method="post" th:object="${tacoOrder}">
        <h1>Order your taco creations</h1>
        <img th:src="@{/images/tacos.jpg}" width="200" height="300" loading="lazy"/>
        <h3>Your tacos in this order:</h3>
        <a th:href="@{/design}" id="another"> Design another taco</a><br/>
        <ul>
            <li th:each="taco : ${tacoOrder.getTacos}">
                <span th:text="${taco.getName}">taco name</span>
            </li>
        </ul>

        <h3>Deliver my taco masterpieces to...</h3>
        <label>
            Name:
            <input th:field="*{deliveryName}" type="text">
        </label>
        <br/>
        <label>
            Steet address:
            <input th:field="*{deliveryStreet}" type="text">
        </label>
        <br/>
        <label>
            City:
            <input th:field="*{deliveryCity}" type="text">
        </label>
        <br/>
        <label>
            State:
            <input th:field="*{deliveryState}" type="text">
        </label>
        <br/>
        <label>
            Zip code:
            <input th:field="*{deliveryZip}" type="text">
        </label>
        <br/>

        <h3>Here's how I'll pay...</h3>
        <label>
            Credit Card #:
            <input th:field="*{ccNumber}" type="text">
        </label>
        <br/>
        <label>
            Expiration:
            <input th:field="*{ccExpiration}" type="text" />
        </label>
        <br/>
        <label>
            CVV:
            <input th:field="*{ccCVV}" type="text" />
        </label>
        <br/>
        <input type="submit" value="Submit Order" />
    </form>
</body>
</html>